.appointments-page {
  .owner-appointments {
    background-color: #ece5f2;
    padding: 2rem;
    min-height: 100vh;

    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  .vet-appointments {
    background-color: #bededd;
    padding: 2rem;
    min-height: 100vh;

    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  }

  .pet-profile-card {
    background-color: #f9f6fc;
    border-radius: 12px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(91, 42, 134, 0.2);
  }

  p {
    color: #360568;
  }

  .btn {
    margin-top: 0.5rem;
  }
}

.bg-owner {
  background-color: #f2f7fc; 
  min-height: 100vh;
  padding: 2rem 0;
}

.bg-vet {
  background-color: #bededd;
  min-height: 100vh;
  padding: 2rem 0;
}

.appointments-page .pet-profile-card {
  margin-bottom: 1.5rem;
}
