.prescription-card {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f9f6fc;
  border-radius: 13px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.prescription-info {
  margin-bottom: 15px;
  font-size: 17px;
  color: #333;
}

.prescription-info strong {
  font-weight: bold;
}

.prescription-info h2, strong p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #360568;
}

.prescription-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
