.pet-card {
  max-width: 600px;
  min-width: 280px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f6fc;
  border-radius: 13px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid #ffffff;

  p {
    margin: 10px 0;
    font-size: 16px;
    color: #360568;
  }
}

.pet-card .avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.pet-card .right-column {
  display: flex;
  align-items: center;    
  gap: 0.5rem;
}

.pet-card .vet-info h3 {
  margin: 0;
}

.pet-card .vet-info p {
  margin: 0;
  font-size: 14px;
  color: #4a4a4a;
}
