.form-main-card {
  margin: 0px auto;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
}

.new_availability {
  margin: 40px auto;
  padding: 30px;
  background-color: #e8f0f0;
  border-radius: 13px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}
